In [1]:
import csv
import re
import pandas as pd

In [2]:
abbrev_dict = {}

with open('data/Contractions (Clean).csv', mode='r') as infile:
    reader = csv.reader(infile)
    next(reader)
    abbrev_dict = {rows[0]:rows[1] for rows in reader}
    
def expandNotam(msg):
    new_string = re.sub(r"[^a-zA-Z]"," ",str(msg))
    new_msg = ''
    for wrd in new_string.split():        
        try:
            new_msg = new_msg + ' ' + abbrev_dict[wrd]
        except:
            new_msg = new_msg + ' ' + wrd
    return new_msg.lower().strip()

In [3]:
#df4 = pd.read_csv('data/notams.csv', 
#                  on_bad_lines='skip', 
#                  encoding='utf-16', 
#                  parse_dates=['POSSIBLE_START_DATE', 'POSSIBLE_END_DATE', 'ISSUE_DATE', 'CANCELED_DATE'])


df4 = pd.read_pickle("data/allData.pkl")

#df4['TEXT'] = df4['TEXT'].apply(expandNotam)

df4['MIN_ALT'] = df4['MIN_ALT'].replace('MSL', 0)
df4['MAX_ALT'] = df4['MAX_ALT'].replace('MSL', 0)
df4['MIN_ALT'] = pd.to_numeric(df4['MIN_ALT'], errors='coerce')
df4['MAX_ALT'] = pd.to_numeric(df4['MAX_ALT'], errors='coerce')

df4['POSSIBLE_START_DATE'] = pd.to_datetime(df4['POSSIBLE_START_DATE'], errors = 'coerce', format = '%Y/%m/%d %H:%M:%S')
df4['POSSIBLE_END_DATE'] = pd.to_datetime(df4['POSSIBLE_END_DATE'], errors = 'coerce', format = '%Y/%m/%d %H:%M:%S')
df4['ISSUE_DATE'] = pd.to_datetime(df4['ISSUE_DATE'], errors = 'coerce', format = '%Y/%m/%d %H:%M:%S')
df4['CANCELED_DATE'] = pd.to_datetime(df4['CANCELED_DATE'], errors = 'coerce', format = '%Y/%m/%d %H:%M:%S')

df4.loc[df4['CANCELED_DATE'].isna(), 'CANCELED_DATE'] = df4.loc[df4['CANCELED_DATE'].isna(), 'POSSIBLE_END_DATE']
df4.loc[df4['POSSIBLE_END_DATE'].isna(), 'POSSIBLE_END_DATE'] = df4.loc[df4['POSSIBLE_END_DATE'].isna(), 'CANCELED_DATE']

est_days = (df4['POSSIBLE_END_DATE'] - df4['POSSIBLE_START_DATE']).mode()

df4.loc[df4['CANCELED_DATE'].isna(), 'CANCELED_DATE'] = df4.loc[df4['CANCELED_DATE'].isna(), 'POSSIBLE_START_DATE']
df4.loc[df4['POSSIBLE_END_DATE'].isna(), 'POSSIBLE_END_DATE'] = df4.loc[df4['POSSIBLE_END_DATE'].isna(), 'POSSIBLE_START_DATE']

df4 = df4.dropna( how='all', subset=['POSSIBLE_END_DATE', 'POSSIBLE_START_DATE'])

In [4]:
df4.isna().sum()

NOTAM_REC_ID                    0
FNS_ID                          0
FILENAME                        0
NOTAM_ID                       13
NOTAM_TYPE                 138171
RELATED_NOTAM_ID           819715
SIMPLE_TEXT                517883
LOC_ID_ACCOUNTABLE_ORG     543535
NOTAM_NUMBER               545475
RELATED_NOTAM_NUMBER       969222
TEXT                            0
Q_CODE                     416159
Q_CODE_INTERPRETATION      597507
A_CODE                     321965
B_CODE                     432082
C_CODE                     525188
D_CODE                     954180
E_CODE                        237
F_CODE                     412557
G_CODE                     412498
CLASSIFICATION                 16
POSSIBLE_NOTAM_ID              13
MIN_ALT                    305058
MAX_ALT                    337613
MIN_ALT_REF_TYPE           392547
MAX_ALT_REF_TYPE           435186
POSSIBLE_START_DATE             0
POSSIBLE_END_DATE               0
ISSUE_DATE                    168
CANCELED_DATE                   0
AFFECTED_FIR               420140
DESIGNATOR                 799228
DESIGNATOR_NAME            823161
LOCATION_NAME               13236
ACCOUNT_ID                    171
LOCATION_CODE                 230
LAUNCHES_REC_ID           1062035
TOPIC                           0
dtype: int64

In [5]:
from datetime import datetime

#time = '10/05/2017  08:00:00 AM' #349
#time = '2/20/2016  7:40:00 PM' #230
time = '4/22/2020  7:30:30 PM' #514

date_time_obj = datetime.strptime(time, '%m/%d/%Y %H:%M:%S %p')

In [6]:
filterA = df4[(df4['POSSIBLE_START_DATE'] <= time) & (df4['POSSIBLE_END_DATE'] >= time)]

In [7]:
filterA

,NOTAM_REC_ID,FNS_ID,FILENAME,NOTAM_ID,NOTAM_TYPE,RELATED_NOTAM_ID,SIMPLE_TEXT,LOC_ID_ACCOUNTABLE_ORG,NOTAM_NUMBER,RELATED_NOTAM_NUMBER,...,ISSUE_DATE,CANCELED_DATE,AFFECTED_FIR,DESIGNATOR,DESIGNATOR_NAME,LOCATION_NAME,ACCOUNT_ID,LOCATION_CODE,LAUNCHES_REC_ID,TOPIC
15335,15341,FNS_ID_43224433,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,E2171/16,NOTAMN,NaN,NaN,NaN,NaN,NaN,...,2016-06-06 23:34:00,2016-06-14 22:18:00,EPWW,NaN,NaN,GOLENIOW,EPWWYNYX,EPSC,NaN,13
18161,18170,FNS_ID_43127767,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,A0583/16,NOTAMN,NaN,NaN,NaN,NaN,NaN,...,2016-05-23 16:39:00,2016-06-15 08:36:00,KZHU,NaN,NaN,ZHU ARTCC,KZHU,ZHU,NaN,0
18162,18171,FNS_ID_43127768,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,A0584/16,NOTAMN,NaN,NaN,NaN,NaN,NaN,...,2016-05-23 16:39:00,2016-06-15 08:36:00,KZHU,NaN,NaN,ZHU ARTCC,KZHU,ZHU,NaN,0
36680,36706,FNS_ID_43555377,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,H4440/16,NOTAMN,NaN,NaN,NaN,NaN,NaN,...,2016-07-26 12:10:00,2027-07-27 11:00:00,EGTT,NaN,NaN,LONDON ATCC,EGGNYNYX,EGTT,NaN,19
70396,70447,FNS_ID_43377575,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,A0606/16,NOTAMN,NaN,NaN,NaN,NaN,NaN,...,2016-06-29 06:30:00,2016-08-30 05:08:00,SUEO,NaN,NaN,ANGEL S ADAMI,SUMUYNYX,SUAA,NaN,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061833,1062664,FNS_ID_56611450,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0138/20,NOTAMN,NaN,!BDR 03/138 7B6 OBST TOWER LGT (ASR UNKNOWN) 4...,BDR,03/138,NaN,...,2020-03-30 16:08:00,2020-05-30 13:00:00,NaN,NaN,NaN,SKYLARK AIRPARK,BDR,7B6,NaN,0
1061847,1062678,FNS_ID_56611469,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0018/20,NOTAMN,NaN,!HFD 03/018 HFD OBST TOWER LGT (ASR UNKNOWN) 4...,HFD,03/018,NaN,...,2020-03-30 16:08:00,2020-05-30 13:04:00,NaN,NaN,NaN,HARTFORD-BRAINARD,HFD,HFD,NaN,0
1061853,1062684,FNS_ID_56611470,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0139/20,NOTAMN,NaN,!BDR 03/139 BDR OBST TOWER LGT (ASR UNKNOWN) 4...,BDR,03/139,NaN,...,2020-03-30 16:10:00,2020-05-30 13:08:00,NaN,NaN,NaN,IGOR I SIKORSKY MEMORIAL,BDR,BDR,NaN,0
1061866,1062697,FNS_ID_56611502,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0501/20,NOTAMN,NaN,!CXO 03/501 T41 OBST TOWER LGT (ASR UNKNOWN) 2...,CXO,03/501,NaN,...,2020-03-30 16:21:00,2020-05-30 13:15:00,NaN,NaN,NaN,LA PORTE MUNI,CXO,T41,NaN,0
1061929,1062760,FNS_ID_56384445,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,C0463/20,NOTAMR,C2672/19,NaN,NaN,NaN,NaN,...,2020-03-05 13:47:00,2020-05-30 13:45:00,SAVF,NaN,NaN,LAS HERAS,SAEZYNYX,SAVH,NaN,18

In [8]:
filterB = filterA[(filterA['TEXT'].str.contains(r'(?:\s|^)rocket(?:\s|$)') == True) | 
           (filterA['TEXT'].str.contains(r'(?:\s|^)space(?:\s|$)') == True) |
           (filterA['TEXT'].str.contains(r'(?:\s|^)launch(?:\s|$)') == True)]

In [9]:
df = pd.read_csv('data/NA_FIR_Codes.csv')

In [10]:
filterC = filterB[filterB['LOCATION_CODE'].isin(df['FIR'])]

In [11]:
filterC[['TOPIC','TEXT']]

         TOPIC                                               TEXT
157508      18  md special notice effective until scientific a...
1053410      6  cape canaveral flight level temporary flight r...
1053411      6  temporary flight restriction pursuant to code ...

In [12]:
filterD = filterC[filterC['TOPIC'] == 6]

In [13]:
filterD[['TOPIC','TEXT']]

         TOPIC                                               TEXT
1053410      6  cape canaveral flight level temporary flight r...
1053411      6  temporary flight restriction pursuant to code ...

In [14]:
df2 = pd.read_csv('data/launches.csv', parse_dates=['LAUNCH_DATE'])

In [15]:
def getNotams(time):
    filterA = df4[(df4['POSSIBLE_START_DATE'] <= time) & (df4['POSSIBLE_END_DATE'] >= time)]
    
    filterB = filterA[(filterA['TEXT'].str.contains(r'(?:\s|^)rocket(?:\s|$)') == True) | 
           (filterA['TEXT'].str.contains(r'(?:\s|^)space(?:\s|$)') == True) |
           (filterA['TEXT'].str.contains(r'(?:\s|^)launch(?:\s|$)') == True)]
    
    filterC = filterB[filterB['LOCATION_CODE'].isin(df['FIR'])]
    
    filterD = filterC[filterC['TOPIC'] == 6]
    
    if len(filterD['NOTAM_REC_ID'] > 0):
        return filterD['NOTAM_REC_ID'].tolist()
    else:
        return

In [16]:
df2['DISCOVERED'] = df2['LAUNCH_DATE'].apply(getNotams)

In [17]:
df2[~df2['DISCOVERED'].isnull().values]

,LAUNCHES_REC_ID,LAUNCH_DATE,VEHICLE_NAME,PAD_NAME,PAYLOAD,AGENCY,PURPOSE,ORBIT_TYPE,OUTCOME,SPACE_LAUNCH_REPORT_FLAG,GUNTER_FLAG,SPACE_FLIGHT_NOW_FLAG,NOONAN_FLAG,AST_FLAG,WIKIPEDIA_FLAG,JSR_FLAG,SPACEPORT_REC_ID,DISCOVERED
247,248,2016-05-26 21:40:00,Falcon 9 v1.2,SLC-40,Thiacom 8,SpaceX,Communications,Geosynchronous,Scrubbed,0,0,0,1,0,0,0,2.0,"[1038, 1039, 1076, 1121]"
253,254,2016-06-15 14:29:00,Falcon 9 v1.2,SLC-40,Eutelsat 117 West B,SpaceX,Communications,Geosynchronous,Operational,1,1,1,1,1,1,1,2.0,"[13159, 13160, 18196, 18198]"
256,257,2016-06-24 14:30:00,Atlas 5-551,SLC-41,MUOS 5,US Navy,Communications,Geosynchronous,Operational,1,1,1,1,0,1,1,2.0,"[21633, 21635, 31053, 31054]"
257,258,2016-07-18 04:45:29,Falcon 9 v1.2,SLC-40,Dragon/CRS-9,SpaceX,ISS Delivery,Low Earth,Operational,1,1,1,1,1,1,1,2.0,"[32966, 33576]"
259,260,2016-07-28 12:37:00,Atlas 5-421,SLC-41,NROL-61,US National Reconnaissance Office,Classified,Geosynchronous,Operational,1,1,1,1,0,1,1,2.0,[38022]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,511,2020-03-18 12:16:39,Falcon 9 v1.2,LC-39A,Starlink 1 F5,SpaceX,Communications,Low Earth,Operational,1,1,1,0,1,1,0,8.0,"[1038765, 1038766]"
511,512,2020-03-26 20:18:00,Atlas 5-551,SLC-41,AEHF 6,US Military,Communications,Supersynchronous,NaN,1,1,1,0,0,1,0,2.0,"[1044985, 1044986]"
513,514,2020-04-22 19:30:30,Falcon 9 v1.2,LC-39A,Starlink 1 F6,SpaceX,Communications,Low Earth,Operational,1,1,1,0,1,1,0,8.0,"[1054240, 1054241]"
514,515,2020-05-17 13:14:00,Atlas 5-501,SLC-41,USSF 7 (X37B OTV6),US Military,Testing,Low Earth,Operational,1,1,1,0,0,1,0,2.0,"[1056350, 1056351, 1056361, 1056362]"
516,517,2020-05-30 19:22:45,Falcon 9 v1.2,LC-39A,DM-2/Crew Dragon 2,SpaceX,Testing,Low Earth,Operational,1,1,1,0,0,1,0,8.0,"[1062634, 1062635]"