# NOTAM Analysis

Please note that the data for this analysis is saved locally in a `data` folder that is one level above (a parent folder) to where the [GitHub](https://github.com/DAEN-Team-1/Final "GitHub") files have been saved. This was done because a lot of the data files are too large to be included in the GitHub repoo.

In [1]:
# imports
import pandas as pd
# import bamboolib as bam

In [2]:
# read data
#            not                     parsed               not           not
date_cols = ['POSSIBLE_START_DATE', 'POSSIBLE_END_DATE', 'ISSUE_DATE', 'CANCELED_DATE']
df = pd.read_csv('../data/notams.csv', on_bad_lines='skip', encoding='utf-16', parse_dates=date_cols)

/var/folders/wk/_x7mg1g17x70jm9czv01yk_r0000gp/T/ipykernel_86593/232320566.py:3: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/notams.csv', on_bad_lines='skip', encoding='utf-16', parse_dates=date_cols)

Look at first few rows of data

In [3]:
df.head()

,NOTAM_REC_ID,FNS_ID,FILENAME,NOTAM_ID,NOTAM_TYPE,RELATED_NOTAM_ID,SIMPLE_TEXT,LOC_ID_ACCOUNTABLE_ORG,NOTAM_NUMBER,RELATED_NOTAM_NUMBER,...,POSSIBLE_END_DATE,ISSUE_DATE,CANCELED_DATE,AFFECTED_FIR,DESIGNATOR,DESIGNATOR_NAME,LOCATION_NAME,ACCOUNT_ID,LOCATION_CODE,LAUNCHES_REC_ID
0,1,FNS_ID_43130705,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0604/16,NaN,NaN,!SUAC 05/604 ZAU AIRSPACE VOLK SOUTH MOA ACT 5...,SUAC,05/604,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZAU ARTCC,SUAC,ZAU,NaN
1,2,FNS_ID_43130704,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0603/16,NaN,NaN,!SUAC 05/603 ZAU AIRSPACE VOLK EAST MOA ACT 80...,SUAC,05/603,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZAU ARTCC,SUAC,ZAU,NaN
2,3,FNS_ID_43130706,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0605/16,NaN,NaN,!SUAC 05/605 ZMP AIRSPACE FALLS 1 MOA ACT 500F...,SUAC,05/605,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZMP ARTCC,SUAC,ZMP,NaN
3,4,FNS_ID_43130708,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0607/16,NaN,NaN,!SUAC 05/607 ZMP AIRSPACE FALLS 2 MOA ACT 500F...,SUAC,05/607,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZMP ARTCC,SUAC,ZMP,NaN
4,5,FNS_ID_43130703,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0602/16,NaN,NaN,!SUAC 05/602 ZMP AIRSPACE VOLK WEST MOA ACT 10...,SUAC,05/602,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZMP ARTCC,SUAC,ZMP,NaN

Get information on the dataframe
* 1,062,863 rows
* 37 columns
* With the exception of `NOTAM_REC_ID` and `LAUNCHES_REC_ID`, all fields appear to be strings. 
    * This may require updating in order to 
* Aside from `LAUNCHES_REC_ID`, most columns have only a few hundred non-null entries, suggesting that the data is very sparse

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1062038 entries, 0 to 1062037
Data columns (total 37 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   NOTAM_REC_ID            1062038 non-null  int64
 1   FNS_ID                  1062038 non-null  object
 2   FILENAME                1062038 non-null  object
 3   NOTAM_ID                1062023 non-null  object
 4   NOTAM_TYPE              923865 non-null   object
 5   RELATED_NOTAM_ID        242320 non-null   object
 6   SIMPLE_TEXT             544152 non-null   object
 7   LOC_ID_ACCOUNTABLE_ORG  518500 non-null   object
 8   NOTAM_NUMBER            516560 non-null   object
 9   RELATED_NOTAM_NUMBER    92813 non-null    object
 10  TEXT                    1055996 non-null  object
 11  Q_CODE                  645876 non-null   object
 12  Q_CODE_INTERPRETATION   464529 non-null   object
 13  A_CODE                  740071 non-null   object
 14  B_CODE                  629954 non-null   object
 15  C_CODE                  536847 non-null   object
 16  D_CODE                  107856 non-null   object
 17  E_CODE                  1061799 non-null  object
 18  F_CODE                  649479 non-null   object
 19  G_CODE                  649538 non-null   object
 20  CLASSIFICATION          1062019 non-null  object
 21  POSSIBLE_NOTAM_ID       1062022 non-null  object
 22  MIN_ALT                 756978 non-null   object
 23  MAX_ALT                 724423 non-null   object
 24  MIN_ALT_REF_TYPE        669489 non-null   object
 25  MAX_ALT_REF_TYPE        626849 non-null   object
 26  POSSIBLE_START_DATE     1062036 non-null  object
 27  POSSIBLE_END_DATE       1047838 non-null  datetime64[ns]
 28  ISSUE_DATE              1062022 non-null  object
 29  CANCELED_DATE           198252 non-null   object
 30  AFFECTED_FIR            641896 non-null   object
 31  DESIGNATOR              262809 non-null   object
 32  DESIGNATOR_NAME         238874 non-null   object
 33  LOCATION_NAME           1048799 non-null  object
 34  ACCOUNT_ID              1061864 non-null  object
 35  LOCATION_CODE           1061805 non-null  object
 36  LAUNCHES_REC_ID         0 non-null        float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(34)
memory usage: 299.8+ MB

Get summary stats

In [5]:
df.describe()

       NOTAM_REC_ID  LAUNCHES_REC_ID
count  1.062038e+06              0.0
mean   5.314754e+05              NaN
std    3.068384e+05              NaN
min    1.000000e+00              NaN
25%    2.657342e+05              NaN
50%    5.315025e+05              NaN
75%    7.972258e+05              NaN
max    1.062868e+06              NaN

## Examine column by column

#### NOTAM_REC_ID
* Seems to be a zero-indexed, sequence of indexes.

In [6]:
df['NOTAM_REC_ID']

0                1
1                2
2                3
3                4
4                5
            ...
1062033    1062864
1062034    1062865
1062035    1062866
1062036    1062867
1062037    1062868
Name: NOTAM_REC_ID, Length: 1062038, dtype: int64

#### FNS_ID
* All unique

In [7]:
df['FNS_ID']

0          FNS_ID_43130705
1          FNS_ID_43130704
2          FNS_ID_43130706
3          FNS_ID_43130708
4          FNS_ID_43130703
                ...
1062033    FNS_ID_57055569
1062034    FNS_ID_57055570
1062035    FNS_ID_57055571
1062036    FNS_ID_57055572
1062037    FNS_ID_57055573
Name: FNS_ID, Length: 1062038, dtype: object

In [16]:
# All are unique
df['FNS_ID'].value_counts()

FNS_ID_43130705    1
FNS_ID_51108106    1
FNS_ID_51108060    1
FNS_ID_51108082    1
FNS_ID_51108064    1
                  ..
FNS_ID_47241553    1
FNS_ID_47241572    1
FNS_ID_47241577    1
FNS_ID_47241555    1
FNS_ID_57055573    1
Name: FNS_ID, Length: 1062038, dtype: int64

#### FILENAME
* Do we have access to these files?
* Lots of repeats

In [8]:
df['FILENAME']

0          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
2          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
3          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
4          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
                                 ...
1062033    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1062034    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1062035    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1062036    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1062037    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
Name: FILENAME, Length: 1062038, dtype: object

In [18]:
df['FILENAME'].value_counts()

E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20191001T1507Z_tmp.xml      10492
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20190503T1519Z_tmp.xml       4901
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20170622T202144Z_tmp.xml     1637
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20160831T173246Z_tmp.xml     1453
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20160831T171728Z_tmp.xml     1451
                                                                           ...
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20180604T010732Z_tmp.xml        1
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20180405T051356Z_tmp.xml        1
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20171029T214122Z_tmp.xml        1
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20180604T010030Z_tmp.xml        1
E:\Working\Sherlock_NOTAM_Data\Temporary\notam.20180113T110000Z_tmp.xml        1
Name: FILENAME, Length: 67086, dtype: int64

#### NOTAM_ID
* Lots of repeats!

In [9]:
df['NOTAM_ID']

0           0604/16
1           0603/16
2           0605/16
3           0607/16
4           0602/16
             ...
1062033     0635/20
1062034     0385/20
1062035     0018/20
1062036     0137/20
1062037    A1093/20
Name: NOTAM_ID, Length: 1062038, dtype: object

In [17]:
df['NOTAM_ID'].value_counts()

0001/17     3076
0002/17     2559
0003/17     2309
0004/17     2036
0001/18     2024
            ...
J5366/16       1
C4395/16       1
K6133/16       1
D2320/16       1
B0833/20       1
Name: NOTAM_ID, Length: 307732, dtype: int64

#### NOTAM_TYPE
* Lots of repeats
* Lots of NaNs

In [11]:
df['NOTAM_TYPE']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
            ...
1062033    NOTAMN
1062034    NOTAMN
1062035       NaN
1062036       NaN
1062037    NOTAMN
Name: NOTAM_TYPE, Length: 1062038, dtype: object

In [15]:
df['NOTAM_TYPE'].value_counts(dropna=False)

NOTAMN    652544
NOTAMC    185243
NaN       138173
NOTAMR     86078
Name: NOTAM_TYPE, dtype: int64

#### NOTAM_TYPE
* Lots of repeats
* Lots of NaNs

In [11]:
df['NOTAM_TYPE']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
            ...
1062033    NOTAMN
1062034    NOTAMN
1062035       NaN
1062036       NaN
1062037    NOTAMN
Name: NOTAM_TYPE, Length: 1062038, dtype: object

In [15]:
df['NOTAM_TYPE'].value_counts(dropna=False)

NOTAMN    652544
NOTAMC    185243
NaN       138173
NOTAMR     86078
Name: NOTAM_TYPE, dtype: int64

#### RELATED_NOTAM_ID
* Mostly NaNs
* Repeats

In [19]:
df['RELATED_NOTAM_ID']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
1062033    NaN
1062034    NaN
1062035    NaN
1062036    NaN
1062037    NaN
Name: RELATED_NOTAM_ID, Length: 1062038, dtype: object

In [20]:
df['RELATED_NOTAM_ID'].value_counts(dropna=False)

NaN         819718
A0001/17        94
A0001/18        91
A0001/19        70
B0001/18        49
             ...
J2533/18         1
L4626/16         1
J1665/18         1
J1687/18         1
A3935/20         1
Name: RELATED_NOTAM_ID, Length: 130206, dtype: int64

#### SIMPLE_TEXT
* At least one NaN
* A few repeats

In [21]:
df['SIMPLE_TEXT']

0          !SUAC 05/604 ZAU AIRSPACE VOLK SOUTH MOA ACT 5...
1          !SUAC 05/603 ZAU AIRSPACE VOLK EAST MOA ACT 80...
2          !SUAC 05/605 ZMP AIRSPACE FALLS 1 MOA ACT 500F...
3          !SUAC 05/607 ZMP AIRSPACE FALLS 2 MOA ACT 500F...
4          !SUAC 05/602 ZMP AIRSPACE VOLK WEST MOA ACT 10...
                                 ...
1062033    !MCN 05/635 JYL OBST TOWER LGT (ASR 1310313) 3...
1062034    !JBR 05/385 CXW AD AP SELF SERVE FUEL NOT AVBL...
1062035    !BLM 05/018 BLM AIRSPACE SEE MIV 05/137 UAS 20...
1062036    !MIV 05/137 COL AIRSPACE UAS WI AN AREA DEFINE...
1062037                                                  NaN
Name: SIMPLE_TEXT, Length: 1062038, dtype: object

In [22]:
df['SIMPLE_TEXT'].value_counts(dropna=False)

NaN                                                                                                                                         517886
!YXX 06/018 RF2  CRF2 OBST LGT U/S TOWER 490011N 1223152W (APRX 6 NM E AD) 150 FT AGL 330 MSL  1706130730-1706131500EST                         14
M0011/18 NOTAMC M0010/18                                                                                                                        11
M0017/18 NOTAMC M0016/18                                                                                                                        11
L0002/18 NOTAMC L0001/18                                                                                                                        11
                                                                                                                                             ...
!FDC 7/3056 FDC CANCEL 7/2937 YIP                                                                                                                1
!FDC 7/3050 FDC CANCEL 7/2930 YIP                                                                                                                1
!FDC 7/3047 FDC CANCEL 7/2927 DET                                                                                                                1
!FDC 7/3053 FDC CANCEL 7/2933 ARB                                                                                                                1
!MIV 05/137 COL AIRSPACE UAS WI AN AREA DEFINED AS 1NM RADIUS OF  401043.90N0740046.90W (5.2NM ESE BLM) SFC-400FT  2005302200-2005302230         1
Name: SIMPLE_TEXT, Length: 538249, dtype: int64

#### LOC_ID_ACCOUNTABLE_ORG
* Lots of NaNs
* Repeats

In [23]:
df['LOC_ID_ACCOUNTABLE_ORG']

0          SUAC
1          SUAC
2          SUAC
3          SUAC
4          SUAC
           ...
1062033     MCN
1062034     JBR
1062035     BLM
1062036     MIV
1062037     NaN
Name: LOC_ID_ACCOUNTABLE_ORG, Length: 1062038, dtype: object

In [24]:
df['LOC_ID_ACCOUNTABLE_ORG'].value_counts(dropna=False)

NaN     543538
FDC     109679
SUAW     39548
SUAC     26722
SUAE     19503
         ...
OEHL         1
EPMM         1
PAIM         1
XPY          1
NUW          1
Name: LOC_ID_ACCOUNTABLE_ORG, Length: 2226, dtype: int64

#### NOTAM_NUMBER
* Plurality are NaNs
* Lots of repeats > what does this mean?

In [25]:
df['NOTAM_NUMBER']

0          05/604
1          05/603
2          05/605
3          05/607
4          05/602
            ...
1062033    05/635
1062034    05/385
1062035    05/018
1062036    05/137
1062037       NaN
Name: NOTAM_NUMBER, Length: 1062038, dtype: object

In [26]:
df['NOTAM_NUMBER'].value_counts(dropna=False)

NaN       545478
10/001      1292
05/001      1280
03/001      1219
12/001      1133
           ...
9/9303         1
6/1658         1
9/9036         1
6/1659         1
0/4686         1
Name: NOTAM_NUMBER, Length: 49843, dtype: int64

#### RELATED_NOTAM_NUMBER
* Vast majority are NaNs
* What does this field mean?

In [27]:
df['RELATED_NOTAM_NUMBER']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
            ...
1062033       NaN
1062034       NaN
1062035    05/137
1062036       NaN
1062037       NaN
Name: RELATED_NOTAM_NUMBER, Length: 1062038, dtype: object

In [28]:
df['RELATED_NOTAM_NUMBER'].value_counts(dropna=False)

NaN       969225
8/3465        87
7/3678        87
7/1888        85
7/1870        84
           ...
8/4081         1
8/4079         1
8/4076         1
8/0108         1
05/774         1
Name: RELATED_NOTAM_NUMBER, Length: 36592, dtype: int64

#### TEXT
* There are NaNs
* Repeats

In [29]:
df['TEXT']

0          AIRSPACE VOLK SOUTH MOA ACT 500FT UP TO BUT NO...
1          AIRSPACE VOLK EAST MOA ACT 8000FT UP TO BUT NO...
2          AIRSPACE FALLS 1 MOA ACT 500FT UP TO BUT NOT I...
3          AIRSPACE FALLS 2 MOA ACT 500FT UP TO BUT NOT I...
4          AIRSPACE VOLK WEST MOA ACT 100FT UP TO BUT NOT...
                                 ...
1062033    OBST TOWER LGT (ASR 1310313) 324053.20N0813415...
1062034                       AD AP SELF SERVE FUEL NOT AVBL
1062035                          AIRSPACE SEE MIV 05/137 UAS
1062036    AIRSPACE UAS WI AN AREA DEFINED AS 1NM RADIUS ...
1062037                                       RWY 22 ILS U/S
Name: TEXT, Length: 1062038, dtype: object

In [30]:
df['TEXT'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                 6042
NAV VORTAC NOT MNT                                                                                                                                                                                                  4268
GPS RAIM PREDICTION FOR: TSO-C129 FAULT DETECTION NO GPS RAIM OUTAGES TSO-C146A FAULT DETECTION ONLY NO GPS RAIM OUTAGES TSO-C146A FAULT DETECTION WITH EXCLUSION NO GPS RAIM OUTAGES.                              4055
GPS RAIM PREDICTION FOR: TSO-C129 FAULT DETECTION NO GPS RAIM OUTAGES TSO-C146A FAULT DETECTION ONLY NO GPS RAIM OUTAGES TSO-C146A FAULT DETECTION WITH EXCLUSION NO GPS RAIM OUTAGES                               3978
NAV VOR/DME NOT MNT                                                                                                                                                                                                 3216
                                                                                                                                                                                                                    ...
OBST TOWER LGT (ASR 1049315) 320013.00N0954307.00W (11.1NM SSE F44) 945.9FT (498.7FT AGL) OUT OF SERVICE                                                                                                               1
IAP CATTARAUGUS COUNTY-OLEAN, Olean, NY. LOC RWY 22, AMDT 6... PROCEDURE NA EXCEPT FOR AIRCRAFT EQUIPPED WITH SUITABLE RNAV SYSTEM WITH GPS, ELZ VOR OUT OF SERVICE. 1708241400-1708311400EST                          1
IAP WELLSVILLE MUNI ARPT,TARANTINE FLD, Wellsville, NY. LOC/DME RWY 28, AMDT 4... PROCEDURE NA EXCEPT FOR AIRCRAFT EQUIPPED WITH SUITABLE RNAV SYSTEM WITH GPS, ELZ VOR OUT OF SERVICE. 1708241400-1708311400EST       1
FDC 7/9162 NOTAMC 7/5543 A) SNA                                                                                                                                                                                        1
AIRSPACE SEE MIV 05/137 UAS                                                                                                                                                                                            1
Name: TEXT, Length: 569272, dtype: int64