# NOTAM Analysis

Please note that the data for this analysis is saved locally in a `data` folder that is one level above (a parent folder) to where the [GitHub](https://github.com/DAEN-Team-1/Final "GitHub") files have been saved. This was done because a lot of the data files are too large to be included in the GitHub repoo.

In [1]:
# imports
import pandas as pd
# import bamboolib as bam

In [2]:
# read data
#            not                     parsed               not           not
date_cols = ['POSSIBLE_START_DATE', 'POSSIBLE_END_DATE', 'ISSUE_DATE', 'CANCELED_DATE']
df = pd.read_csv('../data/notams.csv', on_bad_lines='skip', encoding='utf-16', parse_dates=date_cols)

/var/folders/wk/_x7mg1g17x70jm9czv01yk_r0000gp/T/ipykernel_86593/232320566.py:3: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/notams.csv', on_bad_lines='skip', encoding='utf-16', parse_dates=date_cols)

Look at first few rows of data

In [3]:
df.head()

,NOTAM_REC_ID,FNS_ID,FILENAME,NOTAM_ID,NOTAM_TYPE,RELATED_NOTAM_ID,SIMPLE_TEXT,LOC_ID_ACCOUNTABLE_ORG,NOTAM_NUMBER,RELATED_NOTAM_NUMBER,...,POSSIBLE_END_DATE,ISSUE_DATE,CANCELED_DATE,AFFECTED_FIR,DESIGNATOR,DESIGNATOR_NAME,LOCATION_NAME,ACCOUNT_ID,LOCATION_CODE,LAUNCHES_REC_ID
0,1,FNS_ID_43130705,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0604/16,NaN,NaN,!SUAC 05/604 ZAU AIRSPACE VOLK SOUTH MOA ACT 5...,SUAC,05/604,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZAU ARTCC,SUAC,ZAU,NaN
1,2,FNS_ID_43130704,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0603/16,NaN,NaN,!SUAC 05/603 ZAU AIRSPACE VOLK EAST MOA ACT 80...,SUAC,05/603,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZAU ARTCC,SUAC,ZAU,NaN
2,3,FNS_ID_43130706,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0605/16,NaN,NaN,!SUAC 05/605 ZMP AIRSPACE FALLS 1 MOA ACT 500F...,SUAC,05/605,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZMP ARTCC,SUAC,ZMP,NaN
3,4,FNS_ID_43130708,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0607/16,NaN,NaN,!SUAC 05/607 ZMP AIRSPACE FALLS 2 MOA ACT 500F...,SUAC,05/607,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZMP ARTCC,SUAC,ZMP,NaN
4,5,FNS_ID_43130703,E:\Working\Sherlock_NOTAM_Data\Temporary\notam...,0602/16,NaN,NaN,!SUAC 05/602 ZMP AIRSPACE VOLK WEST MOA ACT 10...,SUAC,05/602,NaN,...,2016-05-24 19:45:00,2016-05-24 04:35:00,2016-05-24 12:10:00,NaN,NaN,NaN,ZMP ARTCC,SUAC,ZMP,NaN

Get information on the dataframe
* 1,062,863 rows
* 37 columns
* With the exception of `NOTAM_REC_ID` and `LAUNCHES_REC_ID`, all fields appear to be strings. 
    * This may require updating in order to 
* Aside from `LAUNCHES_REC_ID`, most columns have only a few hundred non-null entries, suggesting that the data is very sparse

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1062038 entries, 0 to 1062037
Data columns (total 37 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   NOTAM_REC_ID            1062038 non-null  int64
 1   FNS_ID                  1062038 non-null  object
 2   FILENAME                1062038 non-null  object
 3   NOTAM_ID                1062023 non-null  object
 4   NOTAM_TYPE              923865 non-null   object
 5   RELATED_NOTAM_ID        242320 non-null   object
 6   SIMPLE_TEXT             544152 non-null   object
 7   LOC_ID_ACCOUNTABLE_ORG  518500 non-null   object
 8   NOTAM_NUMBER            516560 non-null   object
 9   RELATED_NOTAM_NUMBER    92813 non-null    object
 10  TEXT                    1055996 non-null  object
 11  Q_CODE                  645876 non-null   object
 12  Q_CODE_INTERPRETATION   464529 non-null   object
 13  A_CODE                  740071 non-null   object
 14  B_CODE                  629954 non-null   object
 15  C_CODE                  536847 non-null   object
 16  D_CODE                  107856 non-null   object
 17  E_CODE                  1061799 non-null  object
 18  F_CODE                  649479 non-null   object
 19  G_CODE                  649538 non-null   object
 20  CLASSIFICATION          1062019 non-null  object
 21  POSSIBLE_NOTAM_ID       1062022 non-null  object
 22  MIN_ALT                 756978 non-null   object
 23  MAX_ALT                 724423 non-null   object
 24  MIN_ALT_REF_TYPE        669489 non-null   object
 25  MAX_ALT_REF_TYPE        626849 non-null   object
 26  POSSIBLE_START_DATE     1062036 non-null  object
 27  POSSIBLE_END_DATE       1047838 non-null  datetime64[ns]
 28  ISSUE_DATE              1062022 non-null  object
 29  CANCELED_DATE           198252 non-null   object
 30  AFFECTED_FIR            641896 non-null   object
 31  DESIGNATOR              262809 non-null   object
 32  DESIGNATOR_NAME         238874 non-null   object
 33  LOCATION_NAME           1048799 non-null  object
 34  ACCOUNT_ID              1061864 non-null  object
 35  LOCATION_CODE           1061805 non-null  object
 36  LAUNCHES_REC_ID         0 non-null        float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(34)
memory usage: 299.8+ MB

Get summary stats

In [5]:
df.describe()

       NOTAM_REC_ID  LAUNCHES_REC_ID
count  1.062038e+06              0.0
mean   5.314754e+05              NaN
std    3.068384e+05              NaN
min    1.000000e+00              NaN
25%    2.657342e+05              NaN
50%    5.315025e+05              NaN
75%    7.972258e+05              NaN
max    1.062868e+06              NaN

## Examine column by column

#### NOTAM_REC_ID
* Seems to be a zero-indexed, sequence of indexes.

In [6]:
df['NOTAM_REC_ID']

0                1
1                2
2                3
3                4
4                5
            ...
1062033    1062864
1062034    1062865
1062035    1062866
1062036    1062867
1062037    1062868
Name: NOTAM_REC_ID, Length: 1062038, dtype: int64

#### FNS_ID
*

In [7]:
df['FNS_ID']

0          FNS_ID_43130705
1          FNS_ID_43130704
2          FNS_ID_43130706
3          FNS_ID_43130708
4          FNS_ID_43130703
                ...
1062033    FNS_ID_57055569
1062034    FNS_ID_57055570
1062035    FNS_ID_57055571
1062036    FNS_ID_57055572
1062037    FNS_ID_57055573
Name: FNS_ID, Length: 1062038, dtype: object

#### FILENAME
* Do we have access to these files?

In [8]:
df['FILENAME']

0          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
2          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
3          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
4          E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
                                 ...
1062033    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1062034    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1062035    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1062036    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
1062037    E:\Working\Sherlock_NOTAM_Data\Temporary\notam...
Name: FILENAME, Length: 1062038, dtype: object

#### NOTAM_ID
*

In [9]:
df['NOTAM_ID']

0           0604/16
1           0603/16
2           0605/16
3           0607/16
4           0602/16
             ...
1062033     0635/20
1062034     0385/20
1062035     0018/20
1062036     0137/20
1062037    A1093/20
Name: NOTAM_ID, Length: 1062038, dtype: object

#### NOTAM_TYPE
*

In [11]:
df['NOTAM_TYPE']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
            ...
1062033    NOTAMN
1062034    NOTAMN
1062035       NaN
1062036       NaN
1062037    NOTAMN
Name: NOTAM_TYPE, Length: 1062038, dtype: object

In [15]:
df['NOTAM_TYPE'].value_counts(dropna=False)

NOTAMN    652544
NOTAMC    185243
NaN       138173
NOTAMR     86078
Name: NOTAM_TYPE, dtype: int64